
.info-1VyQPT::before {
    content: "ArmCord";
    height: auto;
    line-height: 80%;
    text-align: center;

    background: linear-gradient(to bottom right,#0ff,#f0f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-size: 16pt;
    font-weight: 500;
    font-family: sans-serif;

    text-transform: none;
}
