#private-channels-2 {
    display: none;
}
#socialLinks-3jqNFy {
    display: none !important; 
}

#header-2RyJ0Y.ed-settings:before {
    display: none !important;
}

.info-1VyQPT::before {
    content: "SmartCord";
    height: auto;
    line-height: 80%;
    text-align: center;

    background: linear-gradient(to bottom right,#0ff,#f0f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-size: 16pt;
    font-weight: 500;
    font-family: sans-serif;

    text-transform: none;
}

:root {
    --ed-text: url(https://txt-dynamic.static.1001fonts.net/txt/b3RmLjcyLjAwMDAwMC5VMjFoY25SRGIzSmsuMAAAAA,,/uni-sans.heavy-caps.png) !important;
    --paperclip: url(https://txt-dynamic.static.1001fonts.net/txt/b3RmLjEzLjAwMDAwMC5VME0sLjAAAAAAAA,,/uni-sans.heavy-caps.png) !important;
    --paperclip-hover: url(https://txt-dynamic.static.1001fonts.net/txt/b3RmLjEzLjAwMDAwMC5VMjFoY25SRGIzSmsuMAAAAAAAAAA,/uni-sans.heavy-caps.png) !important;
    --pencil: url(https://txt-dynamic.static.1001fonts.net/txt/b3RmLjEzLjAwMDAwMC5VMjFoY25SRGIzSmsuMAAAAAAAAAAA/uni-sans.thin-caps.png) !important;
}
